* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #008793;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
body .logo {
    color: #22052E;
    float: left;
}
body .logo:hover {
    transform: scale(1.3);
    transition: all 0.5s;
}
body .logo span {
    color: #BE13E1;
}
body .hknav {
    background-color: #67226B;
}
body .nav-link {
    color: rgb(24, 204, 240) !important;
    text-transform: capitalize;
    text-shadow: 0 0 5px #5ae692;
}
body .subir {
    height: 40px;
    width: 40px;
    background-color: rgb(25, 12, 121);
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 40px;
    color: azure;
    border-radius: 50px;
    border: 2px solid rgb(7, 7, 7);
    font-size: 22px;
}
.imgProductos {
    width: 250px;
    height: 200px;
    object-fit: contain;
    margin-top: 1rem;
}

.card {
    display: flex;
    align-items: center;
    margin: 0.9rem;
}

.colorBoton {
    color:rgb(166, 20, 206);
    background-color: #bb65b1;
}

.colorBoton:hover {
    background-color: rgb(145, 45, 226);
    color: white;
}